.front {
    height: 100vh;
    background:url("../assets/images/front.jpg");
    background-size: cover;
}

.intro {
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.tagline {
    font-weight: 811;
    font-size: 59px;
    line-height: 1;
    text-shadow: 3px 3px black;
    letter-spacing: 5px;
}

.title-1 {
    font-weight: 800;
    font-size: 17px;
    color: yellow;
    
}

.title-2 {
    font-weight: 900;
    font-size: 17px;
    color: yellow;
    
}

.trending {
    height: auto;
    background: url("../assets/images/bg/trending.jpg");
    background-size: cover;
}

.images {
    width: auto;
    height: 500px;
    margin: 5px;
    padding: 5px;
}

.bestseller {
    height: auto;
    background: url("../assets/images/bg/bestseller.jpg");
    background-size: cover;
}
